

.profile-pic{
   height: 25%; 
   width: 25%;
}
    .heading{
      text-decoration: bold;
      font-size: 125%;
      text-align: center;
      background-color: lightblue;
    }


  .tweet-button {
    display: block; /* change this from inline-block */
    width: 20%; /* setting the width */
    margin: 0 auto; /* this will center  it */
    position:relative;
    font-style:normal;
    font-weight:normal;
    font-family:"Open Sans";
    font-size:14px;
    outline:none;
    color:#fff;
    border:none;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    background-color:#96aa39;
    border-bottom:1px solid #7b8b2f;
}


    .input-area {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .tweet-info{
    text-align: center;
    text-decoration: underline;
  }

  #tweet-zone{
    width: 70%;
    margin: 5% auto;
    padding: 50px;
    background-color: orange;
    border-style: solid;
    text-align: center;
  }

  nav{
    text-align: center;
  }
